---
title: Favorite Recipes
permalink: /recipes/
---
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">gshaw.ca</a></li>
  </ul>
</nav>

<h1>{{ page.title }}</h1>

<hr>

{% assign recipes = site.pages | where: 'layout', 'recipe' %}
{% for recipe in recipes %}
<div class="card card-wide-images">
  <a href="{{ recipe.url }}">
    <img src="/recipes/{{ recipe.picture.filename}}" alt="{{ recipe.picture.title }}">
  </a>
  <div class="card-details">
    <h3><a href="{{ recipe.url }}">{{ recipe.title }}</a></h3>
    <p>
      {{ recipe.summary }}
    </p>
  </div>
</div>
{% endfor %}

{% include footer.html %}