h1,
h2,
h3,
h4 {
  margin-bottom: 0.2em;
}

hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4 {
  margin-bottom: 0;
}

table th {
  font-weight: bold;
}

table td {
  vertical-align: top;
}

img[src$="#header-pic"] {
  border-radius: 0.25em;
  box-shadow: 0 0 1px #777;
  max-width: 33%;
}

.card {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding-top: 1em;
}

@media (min-width: 768px) {
  .card-wide-images {
    grid-template-columns: 200px 1fr;
  }
}

.card-details {
  margin-left: 1em;
}

.card-pic {
  border-radius: 0.25em;
  box-shadow: 0 0 1px #777;
  width: 100%;
}

.list-inline {
  padding: 0;
}

.list-inline li {
  display: inline;
  margin-right: 0.5em;
}

.tile-pic {
  border-radius: 0.25em;
  box-shadow: 0 0 1px #777;
  width: 150px;
  margin: 0.5em;
  vertical-align: top;
}
