<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.ogimage and page.ogimage != '' %}
<meta property="og:image" content="{{ page.ogimage }}">
{% endif %}

<link rel="icon" sizes="any" href="/favicon.192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

<link rel="alternate" type="application/rss+xml" title="RSS Feed for gshaw.ca" href="/feed.xml">
<link rel="stylesheet" href="/pico.min.css">
<style>
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.2em
  }

  hgroup h1,
  hgroup h2,
  hgroup h3,
  hgroup h4 {
    margin-bottom: 0
  }

  img[src$="#header-pic"] {
    border-radius: 0.25em;
    box-shadow: 0 0 1px #777;
    max-width: 33%;
  }

  .card {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-top: 1em;
  }

  @media (min-width: 768px) {
    .card-wide-images {
      grid-template-columns: 200px 1fr;
    }
  }

  .card img {
    border-radius: 0.25em;
    box-shadow: 0 0 1px #777;
    width: 100%;
    _margin-bottom: 2em;
  }

  .card-details {
    margin-left: 1em;
  }

  table th {
    font-weight: bold
  }

  table td {
    vertical-align: top
  }
</style>
<title>{{ page.title }}</title>