<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.ogimage and page.ogimage != '' %}
<meta property="og:image" content="{{ page.ogimage }}" />
{% endif %}

<link rel="icon" sizes="any" href="/favicon.192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

<link rel="alternate" type="application/rss+xml" title="RSS Feed for gshaw.ca" href="/feed.xml" />
<link rel="stylesheet" href="/pico.min.css">
<style>
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.2em
  }

  .profile-pic {
    border-radius: 0.25em;
    box-shadow: 0 0 1px #777;
    max-width: 33%;
  }

  .app-card {
    overflow: hidden;
  }

  .app-card img {
    float: left;
    border-radius: 0.25em;
    box-shadow: 0 0 1px #777;
    width: 100px;
    height: 100px;
    margin: 0 1em 2em 0;
  }
</style>
<title>{{ page.title }}</title>