<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.ogimage and page.ogimage != '' %}
<meta property="og:image" content="{{page.ogimage}}">
{% endif %}

<link rel="icon" sizes="any" href="/favicon.192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

<link rel="alternate" type="application/rss+xml" title="RSS Feed for gshaw.ca" href="/feed.xml">
<link rel="stylesheet" href="/pico.min.css">
<link rel="stylesheet" href="/style.css">
<title>{{page.title}}</title>