.svw { width: 50px; height: 20px; background: #eee;}
.svw ul {position: relative; left: -999em;}

/*core classes*/
.stripViewer { 
  position: relative;
  overflow: hidden; 
}
.stripViewer ul { /* this is your UL of images */
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  top: 0;
  width: 1%;
  list-style-type: none;
}
.stripViewer ul li { 
  float:left;
}
.stripTransmitter {
  overflow: auto;
  width: 1%;
}
.stripTransmitter ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
}
.stripTransmitter ul li{
  float: left;
  margin-right: 1px;
}
.stripTransmitter a {
  text-align: center;
  margin: 120px 2px 0;
  padding: 7px;
  color: #fff;
  text-decoration: none;
  display: block;
}
.stripTransmitter a:hover, a.current{
  background: #fff;
  color: #666;
}

/*tooltips formatting*/
.tooltip {
  padding: 0.5em;
  background: #fff;
  color: #000;
  border: 5px solid #dedede;
}