<!doctype html>
<html lang="en">

{% include head.html %}

<body>
  <main class="container">
    <h1>
      <a href="/idefibrillate">
        <img alt="iDefibrillate app icon" src="/idefibrillate/icon.png" width="50" style="border-radius: 10%">
      </a>
      <span style="vertical-align: middle">{{ page.title }}</span>
    </h1>

    {{ content }}

    <hr>

    <p>
      <a href="/idefibrillate">iDefibrillate</a>
      •
      <a href="/idefibrillate/support">Support</a>
      •
      © 2010 - {{ 'now' | date: "%Y" }} <a href="/">Gerry Shaw</a>
    </p>
  </main>
</body>

</html>