<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>
  <main class="container">
    <h1>
      <a href="/littlefaker">
        <img alt="Little Faker app icon" src="/littlefaker/icon.png" width="50" style="border-radius: 10%">
      </a>
      <span style="vertical-align: middle">{{page.title}}</span>
    </h1>

    {{content}}

    <hr>

    <p>
      <a href="/littlefaker">Little Faker</a>
      •
      <a href="/littlefaker/support">Support</a>
      •
      <a href="/littlefaker/privacy">Privacy Policy</a>
      •
      © {{'now' | date: "%Y"}} <a href="/">Gerry Shaw</a>
    </p>
  </main>
  {% include analytics.html %}
</body>

</html>