<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>
  <main class="container">
    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="/">gshaw.ca</a></li>
        <li><a href="/recipes/">recipes</a></li>
      </ul>
    </nav>

    <hgroup>
      <h1>{{page.title}}</h1>
      <ul class="list-inline">
        <li>{{page.takes}}</li>
        <li>{{page.makes}}</li>
        {% for tag in page.tags %}
        <li>#{{tag}}</li>
        {% endfor %}
      </ul>
    </hgroup>
    <p>{{page.summary}}</p>

    {% unless page.picture.placeholder %}
    <figure>
      <img alt="{{page.picture.title}}" src="/recipes/{{page.picture.filename}}" />
      <figcaption>{{page.picture.title}}</figcaption>
    </figure>
    {% endunless %}

    {{content}}
  </main>
  {% include analytics.html %}
</body>

</html>
